<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit List</title>
</head>
<body>
<form action="/update" method="post">
    <input type="hidden" name="id" th:value="${student.id}">
    <label>First Name: <input type="text" name="firstName" th:value="${student.firstName}" required></label><br>
    <label>Last Name: <input type="text" name="lastName" th:value="${student.lastName}" required></label><br>
    <button type="submit">Update Student</button>
</form>
<a href="/">Back to List</a>

</body>
</html>